body{
    background-color: #3A7CA5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav li, nav a{
    font-size: 1.50rem;
}
#one h1{
    font-size: 5rem;
    font-weight: 200;
    color: #d9dcd6;
}
h2{
    color: #d9dcd6;
}
p{
    color: #16425B;
    font-size: 1.30rem;
}
#company{
    color: #16425B;
}
nav a:hover{
    color: #81C3D7 !important;
}

#heading-two{
    font-size: 4.5rem;
    font-weight: 200;
}
footer {
    font-size: 1.5rem;
    color: #16425B !important;
    background-color: #d9dcd6;
}

.dropdown-menu{
    background-color: #d9dcd6;
}
.dropdown-menu .dropdown-item{
    background-color: #d9dcd6;
}
footer a{
    color: inherit;
}

footer a:hover{
    color: #81C3D7 !important;
}

.card{
    background-color: #d9dcd6 !important;
}

/* Javascript */
.scrolled{
    background-color: #d9dcd6;
    opacity: .92;
    transition: .1s;

}


/* Media Queries */
@media (max-width:1300px){
    #one h1{
        font-size: 3rem;
    }
    p{
        font-size: 1.10rem !important;
    }
    #heading-two{
        font-size: 2.5rem;
    }
    #one img{
        margin-top: 60px;
    }
}
@media (max-width:850px){
    #one h1, #one img{
        margin-top: 60px;
    }
}
@media (max-width: 1100px){
    footer ul li{
        display: block !important;
        margin: 7px;
    }
}

